{% extends "base.html" %}

{% block content %}
<div class="naverhu">
    <h1>Словарь синонимов русского языка</h1>
    <div id="message1"></div>
    <form method="post" action="/s/" accept-charset="UTF-8" id="submitShow">
        <input autocomplete="off" placeholder="введите слово" title="нажмите и введите слово" name="text"
               type="text" size="21" id="text" autofocus="">
        <input type="submit" value="Найти синонимы" class="button" id="submitSyn">
    </form>
    <div class="otstup">Введите слово и нажмите «Найти синонимы».</div>
</div>




<div id="attribution"><a title="Наверх" href="#top" class="naverh">Наверх ↑</a></div>
{% endblock %}

