{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.message.label }}<br>{{ form.message() }}

    </div>
    <p>{{ form.submit() }}</p>
</form>

<!--<form action="" method="post">-->
<!--        <label for="exampleFormControlTextarea1">Введите текст</label>-->
<!--        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--    <button type="button" class="btn btn-primary">Подобрать синонимы</button>-->
<!--</form>-->

{% endblock %}
