{% extends "base.html" %}

{% block content %}
<br>
<h2 align="center"><b>СИНОНИМАЙЗЕР</b></h2><br>
<hr>
<h6> Синонимайзер позволяет в автоматическом или полуавтоматическом режиме находить синонимы к словам.<br>
    Сервис учитывает контекст использования слов, подбирает подходящие слова без потери смысла.
</h6>

<ul>
    <li><a href="{{ url_for('for_input_word') }}"><h4>Подбор синонимов для указанного слова</h4></a></li>
    <li><a href="{{ url_for('for_input_text') }}"><h4>Замена слов в тексте</h4></a></li>
</ul>
{% endblock %}