{% extends "base.html" %}

{% block content %}
<h1 align="center"><b>СИНОНИМАЙЗЕР</b></h1>
<hr>
<h3> Синонимайзер позволяет в автоматическом или полуавтоматическом режиме находить синонимы к словам.<br>
    Сервис учитывает контекст использования слов, подбирает подходящие слова без потери смысла.</h3>

<ul>
    <li><a href="{{ url_for('for_input_word') }}"><h2>Подбор синонимов для указанного слова</h2></a></li>
    <li><a href="{{ url_for('for_input_text') }}"><h2>Замена слов в тексте</h2></a></li>
</ul>
{% endblock %}